    @import "./variables.scss";
    
    .content-block{
       

    &.central{
        
        display: grid;
      
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: repeat(3, 33.333333333%);
    }
 

    &__first{
        grid-area: 1/1/2/7;
        background-color: $white;
        background-color: $red;
        border:1px solid $gray;

    &-titles{
        display: flex;
        justify-content: space-between;
        h2{
            font-size: 26px;
            padding: 0 0 0 8px;
        }
        h3{
            color: $white;
            font-weight: 400;
            font-size: 22px;
            padding: 0 8px 0 0;
        
        }
    }
        
    }
    &__second{
        grid-area: 1/7/4/11;
        background-color: $white;
        border:1px solid $gray;
    }
    &__third{
        grid-area: 2/1/4/4;
        background-color: $white;
        border:1px solid $gray;

        h2{
            text-align: left;
            background-color: red;
            margin: 0;
            padding: 17.45px 1vw;
            font-size: 28px;
        }
    }
    &__fourth{
        grid-area: 2/4/4/7;
        background-color: $white;
        border:1px solid $gray;
        color:$steelBlue;

        &-title-and-logo{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 17.45px 1vw 11.45px;

            h2{
                margin: 0;
                font-size: 28px;
            }

            img{
                width:40px;
                height:40px;
            }
        }

        &-pld-pts{
            display: flex;
            justify-content: flex-end;
            margin-right: auto;
            span{
                width:40px;
                text-align: center;
                font-weight: 700;
                margin-bottom: 6px;

                &:last-of-type{
                    margin-right: 16px;

                    @media(hover:none){
                        margin-right: 0px;
                    }
                  
                }
            }
        }
    }
}
.days-wrapper{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    justify-content: center;
    align-items: center;
}
.day{
    .line{
        width: 100%;
        background-color: $white;
        height: 2px;
        margin: 8px 0;
    }
    span{
        color: $white;
        padding-left: 10px;

        &:first-child{
            font-size: 18px;

        }
        &:last-child{
            font-size: 30px;

        }
    }
}

.last-transfers-wrapper{
    height:calc(100% - 68.84px);
    overflow: auto;
}

.last-transfer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12.5px 15px;
    color:$white;

    &:nth-of-type(odd){
        background-color: red;
    }
    &:nth-of-type(even){
        background-color: lighten(red, 15%);
    }

    &__footballer{
        img{
            width:60px;
            height:70px;
        }
    }
    &__logo{
        img{
            width:60px;
            height:60px;
        }
    }

    &__price-and-surname{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        img{
            width:100px;
            margin: 0 8px;
        }
    }
}

.table{
    height:calc(100% - 93.84px);
    overflow: auto;

    &__element{
        display: grid;
        grid-template-columns: 30px calc(100% - 110px) 40px 40px;
        padding-bottom: 5px;
        margin-bottom: 8px;

        border-bottom: 1px solid $gray;
        &:last-of-type{
            border-bottom:none;   
        }

        &-team{
            display: flex;
            img{
                margin:0 12px ;
                width:30px;
                height: 30px;
            }
        }

        span{
            font-size: 22px;
            text-align: center;
        }

    }
}